<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Team 7</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="shortcut icon" href="img/tomat.png">
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=2.0;">
    </head>
    <body>
        <header class="site-header">
            <h1 class="site-title">About</h1>
        </header>

        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/about" class="selected">About</a>
            <a href="/account">Account</a>
        </nav>

        <main>
            <article>
                <header>
                    <h1>About this project</h1>
                    <p>This project has been documented here: <a href="https://google.com">Literature Review</a></p>

                    <h2>The Team</h2>
                    <p>Anton, Elias, Max, Morris and Nikolas</p>
                    <p>Github repo for project<a href="https://github.com/team7tomat/team7-Tomatoes/">GitHub</a></p>
                </header>
            </article>
        </main>

        <footer class="site-footer">
            <hr>
        </footer>
    </body>
</html>
