<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Team 7</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="shortcut icon" href="img/tomat.png">
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=2.0;">
	</head>
	<body>
        <header class="site-header">
            <h1 class="site-title">Logged In</h1>
        </header>

        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/account">Account</a>
        </nav>

        <main>
            <article class="form">
				<header>
          <h1>Your plant was happily deleted</h1>
				</header>

            </article>

        </main>


        <footer class="site-footer">
            <hr>
        </footer>
	</body>
</html>
